div{
    border-style:solid;
    border-width: 2px;
    position: absolute;
}
.quadro1{
    top:0px;
    width: 202px;
    height: 100px;
    color: yellow;

}
.quadro2{
    top:102px;
    width: 90px;
    height: 100px;
    color: red;
    
}
.quadro3{
    top:102px;
    left: 100px;
    width: 110px;
    height: 100px;
    border-style: dotted;
    
}
.box{
    width: 70px;
    height: 10px;
    background-color: ;
    border: 2px solid navy;
    padding: 20px;
    margin: 10px;
    text-align: center;
}   